Load data

In [4]:
import pandas as pd
path= 'd:/csv_files2/Classification/heart.csv'
data= pd.read_csv(path)
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [35]:
X= data.iloc[:,:-1]
y= data.iloc[:,-1]

compear between Scaling data and Normalize data

In [78]:
from sklearn.preprocessing import StandardScaler,Normalizer,MinMaxScaler
scaledata = StandardScaler()
X = scaledata.fit_transform(X)
#Normalizedata= Normalizer()
#X = Normalizedata.fit_transform(X)
#minmaxscaler= MinMaxScaler()
#X = minmaxscaler.fit_transform(X)

Train data and test spliting data

In [79]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=.25)

Import LogisticRegression and fit model

In [96]:
from sklearn.linear_model import LogisticRegression
logisregressionmodel = LogisticRegression(solver='liblinear')
logisregressionmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [97]:
print('Calss  of logisregressionmodel',logisregressionmodel.classes_)
print('No of iter',logisregressionmodel.n_iter_)

Calss  of logisregressionmodel [0 1]
No of iter [6]

Compare between Y predicted and y test

In [98]:
y_predicted= logisregressionmodel.predict(X_test)
print("Y predicted values",y_predicted[:5])
print("y_test Values",y_test[:5])

Y predicted values [0 1 1 0 1]
y_test Values 169    0
90     1
45     1
301    0
34     1
Name: target, dtype: int64

Predict The probablity of model

In [99]:
pred_probality_values= logisregressionmodel.predict_proba(X_test)
pred_probality_values[:3]

array([[0.92129242, 0.07870758],
       [0.26962413, 0.73037587],
       [0.09376678, 0.90623322]])

In [100]:
from sklearn.metrics import confusion_matrix,accuracy_score
print("confusion matrix is",confusion_matrix(y_predicted,y_test))
print("accuracy score ",accuracy_score(y_predicted,y_test))

confusion matrix is [[22  6]
 [ 8 40]]
accuracy score  0.8157894736842105